@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 15px;
}


.container{
    margin: auto;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{  
    display: inline-block;
    outline: none;
    cursor: pointer;
    margin: 2px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #241c15;
    background-color: #efeeea;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;   

}

.button:hover{
    color: #241c15;
    background-color: #d9d7cd;
    
}

.specialties-container{
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    height: 400px;
    overflow-y: scroll;
    background-color: rgb(212, 208, 208);
}

.specialty-container{
    padding: 15px;
    border-radius: 7px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.specialty-container .title{
    margin-bottom: 18px;
}

.specialty-container .title h2{
    font-size: 20px;
    background-color: white;
}


.specialty-container .title h3{
    font-size: 15px;
    background-color: white;
}

.specialty-container .buttons{
    background-color: white;
}

.modal-new-specialty{
    display: none;
}

.modal-new-specialty.display{
    display: block;
}

.modal-container-new-specialty{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container-back-new-specialty{
    height: 380px;
    width: 500px;
    border-radius: 5px;
}


.modal-container-new-specialty .form{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
}

.modal-container-new-specialty .form h2{
    margin-bottom: 40px;
}

.modal-container-new-specialty .form input{
    font-weight:500;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 250px;
    border-width: 1px;
    outline: none;
}

.modal-container-new-specialty .close-button{
    margin-top: 15px;
    margin-left: 430px;
    margin-bottom: 15px;
}



.modal-patient{
    display: none;
}

.modal-patient.display{
    display: block;
}

.modal-container-patient{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container-back-patient{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 1000px;
    border-radius: 8px;
    background-color: white;
}

.patient-body-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    height: 400px;
    overflow-y: scroll;
    
}

.patient-card{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.patient-card h2{
    font-size: 15px;
    background-color: white;
}
.patient-card div h3{
    font-size: 10px;
    background-color: white;
}



.modal-new-patient{
    display: none;
}

.modal-new-patient.display{
    display: block;
}

.modal-container-new-patient{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container-back-new-patient{
    height: 500px;
    width: 500px;
    border-radius: 5px;
}


.modal-container-new-patient .form{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
}

.modal-container-new-patient .form h2{
    margin-bottom: 40px;
}

.modal-container-new-patient .form input{
    font-weight:500;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 250px;
    border-width: 1px;
    outline: none;
}

.modal-container-new-patient .close-button{
    margin-top: 15px;
    margin-left: 430px;
    margin-bottom: 15px;
}




.modal-new-date{
    display: none;
}

.modal-new-date.display{
    display: block;
}

.modal-container-new-date{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container-back-new-date{
    height: 340px;
    width: 500px;
    border-radius: 5px;
}


.modal-container-new-date .form{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
}

.modal-container-new-date .form h2{
    margin-bottom: 40px;
}

.modal-container-new-date .form input{
    font-weight:500;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 250px;
    border-width: 1px;
    outline: none;
}

.modal-container-new-date .close-button{
    margin-top: 15px;
    margin-left: 430px;
    margin-bottom: 15px;
}








